// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$brand-primary:         #f56b0b; //#ff6d5a

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

$grid-gutter-width: 28px;
$grid-gutter-width-base: $grid-gutter-width;

$font-family-nunito: 'Nunito Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$designWidth: 1150;

$bfe-default: #333333;
$bfe-default-background: #eeeeee;
$bfe-green: #035d10;
$bfe-green-hover: #026811;
$bfe-charcol: #363636;
$bfe-pale-grey: #e8e8e8;
$bfe-blue: #008dc8;
$bfe-red: #db0000;

$screen-md-max: 1150px;

@function get-vw($size) {
  $vw-context: ($designWidth * .01) * 1px;
  @return ($size / $vw-context) * 1vw;
}
@function get-vw-important($size) {
  $vw-context: ($designWidth * .01) * 1px;
  @return ($size / $vw-context) * 1vw !important;
}
@function get-px($size) {
  $px-context: strip-units($size / $designWidth);
  @return ($px-context * $screen-md-max);
}
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@mixin height($size) {
  height: get-px($size);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    height: get-vw($size);
  }
  @media (min-width: $designWidth * 1px) {
    height: $size;
  }
}
@mixin font-size($size) {
  font-size: get-px($size);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    font-size: get-vw($size);
  }
  @media (min-width: $designWidth * 1px) {
    font-size: $size;
  }
}
@mixin line-height($size) {
  line-height: get-px($size);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    line-height: get-vw($size);
  }
  @media (min-width: $designWidth * 1px) {
    line-height: $size;
  }
}
@mixin marginFull($sizeT, $sizeR, $sizeB, $sizeL) {
  margin: get-px($sizeT) get-px($sizeR)get-px($sizeB) get-px($sizeL);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    margin: get-vw($sizeT) get-vw($sizeR)get-vw($sizeB) get-vw($sizeL);
  }
  @media (min-width: $designWidth * 1px) {
    margin: $sizeT $sizeR $sizeB $sizeL;
  }
}
@mixin width($size) {
  width: get-px($size);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    width: get-vw($size);
  }
  @media (min-width: $designWidth * 1px) {
    width: $size;
  }
}
@mixin bottom($size) {
  bottom: get-px($size);
  @media (min-width: $screen-md-max) and (max-width: ($designWidth - 1) * 1px) {
    bottom: get-vw($size);
  }
  @media (min-width: $designWidth * 1px) {
    bottom: $size;
  }
}

@mixin hpTransition($p:all, $t:300ms) {
  -webkit-transition: $p $t ease-in-out;
  -moz-transition: $p $t ease-in-out;
  -ms-transition: $p $t ease-in-out;
  -o-transition: $p $t ease-in-out;
  transition: $p $t ease-in-out;
}
@mixin hpScale($s) {
  transform: scale($s);
  -webkit-transform: scale($s);/* Saf3.1+, Chrome */
  -moz-transform: scale($s); /* FF3.5+ */
  -ms-transform: scale($s); /* IE9 */
  -o-transform: scale($s); /* Opera 10.5+ */
}
@mixin hpBlur($s) {
  filter: blur($s);
  -webkit-filter: blur($s);/* Saf3.1+, Chrome */
  -moz-filter: blur($s); /* FF3.5+ */
  -ms-filter: blur($s); /* IE9 */
  -o-filter: blur($s); /* Opera 10.5+ */
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}